.navbar-default {
	background-color: #0fe3f4;
	border-color: #0fe3f4;
}

.navbar-default .navbar-nav>li>a, .navbar-default .navbar-brand {
	color: white;
	font-family: cursive;
}

.navbar-default .navbar-toggle {
	border-color: #0fe3f4;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus
	{
	background-color: #0fe3f4;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: #ecf0f1;
}

@media ( max-width : 767px) {
	.navbar-default .navbar-nav .open .dropdown-menu>li>a {
		color: #ecf0f1;
	}
	.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover,
		.navbar-default .navbar-nav .open .dropdown-menu>li>a:focus {
		color: #d1ffed;
		background-color: #0fe3f4;
	}
}

body {
	padding-top: 100px;
}

footer {
	line-height: 100px;
	text-align: center;
}